/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

form {
  text-align: center;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  color: #808080;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  resize: 1px solid;
  outline: none;
}
#search-input:hover {
  border: 1px solid #000;
}
#search-input:focus {
  border: 1px solid #4e75ff;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 24px;
  justify-content: center;
  list-style-type: none;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  color: #2e2f42;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  text-align: center;
}

#loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
  opacity: 0;
  cursor: default;
}

.btn-load {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
}

.btn-load:hover {
  background-color: #6c8cff;
}
